body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: forestgreen;
    text-decoration: none;
    transition: 2s;
}

a:visited {
    color: maroon;
    background-color: pink;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 3px 5px 2px pink;
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}

