body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: 500ms 1s;
}
main {
    margin: 10px 20px;
}
header:hover {
    font-size: 20pt;
    transition: 1s;
}
header:active {
    color: black;
    transition: 0,1s, 1s;
}
footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    transition: 500ms 1s;
}
footer:hover {
    transition: 1s;
    font-size: 20pt;
}
footer:active {
    color: black;
    transition: 0,1s, 1s;
}
a {
    color: forestgreen;
    text-decoration: none;
    transition: 2s;
}

a:visited {
    color: maroon;
    background-color: pink;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 3px 5px 2px pink;
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


